.ui-layout-west .ui-layout-unit-content,
.ui-layout-east .ui-layout-unit-content,
.ui-layout-north .ui-layout-unit-content,
.ui-layout-south .ui-layout-unit-content
{
    overflow: hidden;
}

.ui-layout-unit .ui-layout-unit-content
{
    background: transparent;
}

.ui-layout-unit
{
    padding: 0.3%;
}

.central-panel, .left-panel, .right-panel, .banner, .footer
{    border: none;
}

.banner
{
    background-image:url('../img/banner.png');
}

.footer
{
    background-image:url('../img/footer.png');
}

.left-panel
{

}

.right-panel{

}

.central-panel{
    padding-top: 3%;
    padding-bottom: 2%;
}


.charly_robot
{
    position: relative;
}

.links a
{
    color: darkcyan;
    text-decoration: none;
}

.to-the-left-text
{
    text-align: left;
}

.centered-text
{
    text-align: center;
}

.main-menu-button
{
    padding-top: 0.2%;
    padding-left: 1%;
}

.main-menu-button img
{
    width: 3.5%;
}
