<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>

    <context-param>
        <param-name>LDAPConnection.HOST</param-name>
        <param-value>TEST</param-value>
    </context-param>

    <context-param>
        <param-name>LDAPConnection.PORT</param-name>
        <param-value>9999</param-value>
    </context-param>

    <context-param>
        <param-name>LDAPConnection.BASE_DN</param-name>
        <param-value>TEST</param-value>
    </context-param>

    <context-param>
        <param-name>LDAPConnection.GENERIC_USER</param-name>
        <param-value>TEST</param-value>
    </context-param>
    <context-param>
        <param-name>LDAPConnection.GENERIC_PASSWORD</param-name>
        <param-value>TEST</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>90</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>login.jsf</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>EmailServer.ACCOUNT</param-name>
        <param-value>cucei.helpdesk</param-value>
    </context-param>

    <context-param>
        <param-name>EmailServer.PASSWORD</param-name>
        <param-value>test123456</param-value>
    </context-param>

    <context-param>
        <param-name>EmailServer.HOST</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>EmailServer.PORT</param-name>
        <param-value>587</param-value>
    </context-param>
</web-app>
